<% include ../partials/header %> 
<div class=container>
   
    <div class="col-md-12">

         <div class="card mb-3">
              <img class="card-img-top" src="<%= camps.image %>"alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><%= camps.name %>/h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                 <p> <i>By:</i><%= camps.author.username %></p>
                     <a class="btn btn-warning" href="/camps/<%= camps._id %>/edit"> Edit</a>
                      <form action="/camps/<%= camps._id %>?_method=DELETE" method="POST">
                     <button class="btn btn-danger"> Delete</button>
                </form>
            </div>
  </div>
</div>
        </div>
        <div class"well">
            <div class="text-right">
                 <a class="btn btn-success" href="/camps/<%= camps._id %>/comments/new">Add New </a>
            </div>
            <% camps.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12">
                        
                     <p> 
                    Comment By: <em> <%= comment.author.username %></em> 
                     </p> 
                      <span class="pull-right"> 1 day ago</span>
                      <p> <%= comment.text %> </p>
                      <a class="btn btn-sm btn-warning" href="/camps/<%=camps._id%>/comments/<%=comment._id%>/edit"> Edit</a>
                      <form action="/camps/<%=camps._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                           <input type="submit" class="btn btn-sm btn-danger" value="Delete">
                      </form>
                           
                     </div>
                </div>
                <% }); %>  
        </div>
    </div>
</div>




<% include ../partials/footer %> 







